<div style="margin-top: -105px;">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px;box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-hdd-stack-fill"></i>
            <h3>Back End</h3>
            <p>trabajo backend pruebas automaticas y puesta producción con entrega continua</p>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                ASP.NET Core, SQL Server
            </p>
            <p class="text-primary cabecera">
                Experiencia:
            </p>
            <ul>
                <li>
                    ASP MVC
                </li>
                <li>
                    Web API
                </li>
                <li>
                    Dapper
                </li>
            </ul>
        </div>
        <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0;box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-code-slash"></i>
            <h3>Front End</h3>
            <p>Puedo crear frontedns con los requerimientos del negocio</p>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                React, Angular, Blazor
            </p>
            <p class="text-primary cabecera">
                Experiencia:
            </p>
            <ul>
                <li>
                    React
                </li>
                <li>
                    Angular
                </li>
                <li>
                    Blazor
                </li>
            </ul>
        </div>
    </div>
</div>