<div class="text-center">
    <h1 class="display-4">Soy Carlos Cardozo</h1>
    <h2>Soy un desarrollador full stack especializado en tecnologías .NET y JavaScript</h2>
    <img id="foto" src="~/imagenes/foto.jpeg" alt="Foto de Carlos" />
</div>
<div class="text-center">
    <img id="imagen-dotnet" src="~/imagenes/dotnet-imagen-2.png" alt="dotnet html" />
</div>
<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccin-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>Soy ingeniero de desarrollo y he trabajado en proyectos como: Reingeniería de formularios: Migré aplicaciones VB6 a .NET WebForms. Modifiqué servicios WCF para solucionar concurrencia y optimizar rendimiento. Act ualicé formularios heredados. Administré bases de datos SQL Server, creando procedimientos almacenados y tablas. Realicé pruebas de carga y rendimiento con JMeter y SoapUI. Trabajé con Sybase, optimizando consultas y transacciones. Creé informes personalizados en Crystal Reports.</p>
    </div>
</div>